/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
    word-wrap: break-word;
    background: whitesmoke;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

h6{
    text-align: center;
}

.item img {
    display: flex;
    width: 70px;
    height: 60px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.item {
    display: flex;
    justify-content: center;
    margin: 0px 25px;
    align-content: center;
}

.nome-marca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-top container-fluid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

.item a:hover {
    color: #CE1141;
}

.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

#container-produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
