<!-- LISTA COM AS MARCAS -->
<div class="card-top container-fluid">
    <h3 style="text-align:center;">Categorias</h3>
    <div class="container d-flex" id="container-produtos">
        <div class="item">
            <a (click)="filter('Nike')">
                <img style="width: 80px;" src="/assets/images/Logos/Nike-Logo-PNG-1280x720.png" alt="">
                <h6 class="nome-marca">Nike</h6>
            </a>
        </div>
        <div class="item">
           <a (click)="filter('Adidas')">
               <img src="/assets/images/Logos/adidas.png" alt="">
               <h6 class="nome-marca">Adidas</h6>
           </a>
        </div>
        <div class="item">
            <a (click)="filter('Puma')">
                <img style="width: 80px;" src="/assets/images/Logos/puma.png" alt="">
                <h6 class="nome-marca">Puma</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('')">
                <img src="/assets/images/Logos/plus.png" alt="">
                <h6 class="nome-marca">Todos</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <!-- imagens dos produtos -->
                <img src="{{item.image}}" alt="">  
                <h5 style="font-family: 'Overpass', sans-serif; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <!-- descrição do produtos -->
                <p style="font-family: 'Montserrat', sans-serif;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p style="font-family: 'Overpass', sans-serif; font-weight: bold;"><strong>Preço: </strong>R${{item.price}}</p>
                <button class="btn btn-primary" (click)=addToCart(item) style="font-family: 'Overpass', sans-serif; font-weigth: bold; background-color:#CE1141; ">Carrinho</button>
            </div>
        </ng-container>
        
    </div>
</div>
