<!-- LISTA COM AS MARCAS -->
<div class="card-top container-fluid">
    <h3 style="text-align:center;">Aqui as marcas ó</h3>
    <div class="container d-flex" id="container-produtos">
        <div class="item">
            <a>
                <img src="/assets/images/AdidasYezzy 350 V2 - Zebra/YeezyZebra-1.png" alt="">
                <h6>Nike</h6>
            </a>
        </div>
        <div class="item">
           <a>
               <img src="/assets/images/Air Max 90 - Off White/AirMax1-OF-1.png" alt="">
               <h6>Adidas</h6>
           </a>
        </div>
        <div class="item">
            <a>
                <img src="/assets/images/Nike Blazer Mid - Off White - Serena Willians/Blazer-Queen-1.png" alt="">
                <h6>Puma</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="/assets/images/Nike Blazer Mid - Off White/Blazer-OF-1.png" alt="">
                <h6>OS MAIS TOPS</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList | filter:searchKey:'title'">
            <div class="card col-md-3">
                <!-- imagens dos produtos -->
                <img src="{{item.image}}" alt="">  
                <h5 style="font-family: 'Overpass', sans-serif; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <!-- descrição do produtos -->
                <p style="font-family: 'Montserrat', sans-serif;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p style="font-family: 'Overpass', sans-serif; font-weight: bold;"><strong>Preço: </strong>R${{item.price}}</p>
                <button class="btn btn-primary" (click)=addToCart(item) style="font-family: 'Overpass', sans-serif; font-weigth: bold; background-color:#CE1141; ">Carrinho</button>
            </div>
        </ng-container>
        
    </div>
</div>
